{% extends "../base.html" %}

{% block title %} About Us {% endblock title %}

{% load static %}

{% block content %}

<!-- about Page -->
<section class="about-hero">
    <div class="image">
        <img src="../../static/images/hero-bg/about-hero.jpg" alt="">
    </div>
    <div class="text">
        <h5 class="mb-4 text-light">About Our Shop</h5>
        <h2 class="heading mb-4 text-light">Best Services</h2>
        <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores commodi a architecto
            totam officia explicabo
            molestiae mollitia expedita ratione aspernatur.</p>
    </div>
</section>

<section class="section about">
    <div class="container">
        <div class="text-center">
            <h5 class="sub-heading">~ About us ~</h5>
            <h2 class="heading">Who we are</h2>
        </div>
        <div class="text text-center mx-auto">
            <div class="image mb-3">
                <img src="./static/images/hero3.png" alt="Online Our Shop" />
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium
                voluptas error. Optio quisquam eligendi illum, sunt tempora minus totam!
            </p>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 mx-auto about-content">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card icon-ani">
                            <div class="icon">
                                <i class="fas fa-bicycle"></i>
                            </div>
                            <div class="text">
                                <h4>Select Your Products</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card icon-ani">
                            <div class="icon">
                                <i class="far fa-leaf-oak"></i>
                            </div>
                            <div class="text">
                                <h4>Select Your Products</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card icon-ani">
                            <div class="icon">
                                <i class="far fa-spa"></i>
                            </div>
                            <div class="text">
                                <h4>Select Your Products</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img1">
                    <img src="./static/images/about/arrow1.png" alt="Path" />
                </div>
                <div class="img2">
                    <img src="./static/images/about/arrow2.png" alt="Path" />
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}