{% extends "../base.html" %} {% block title %} Shop {% endblock title %} {% load
static %} {% block content %}

<section class="page-hero py-5">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Shop</li>
      </ol>
    </nav>
  </div>
</section>

<section class="section shop-page pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="card shadow">
          <div class="image">
            <img src="./static/images/shop/shop-items/1.jpg" alt="" />
          </div>
          <h4><a href="#">Fruits Vegitables</a></h4>
          <p class="text-secondary">10 Items</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="card shadow">
          <div class="image">
            <img src="./static/images/shop/shop-items/2.jpg" alt="" />
          </div>
          <h4><a href="#">Green Vegitables</a></h4>
          <p class="text-secondary">10 Items</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="card shadow">
          <div class="image">
            <img src="./static/images/shop/shop-items/3.jpg" alt="" />
          </div>
          <h4><a href="#">Biscuit Snack</a></h4>
          <p class="text-secondary">10 Items</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="card shadow">
          <div class="image">
            <img src="./static/images/shop/shop-items/4.jpg" alt="" />
          </div>
          <h4><a href="#">Oil Products</a></h4>
          <p class="text-secondary">10 Items</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="card shadow">
          <div class="image">
            <img src="./static/images/shop/shop-items/5.jpg" alt="" />
          </div>
          <h4><a href="#">Healthy Fruits</a></h4>
          <p class="text-secondary">10 Items</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="card shadow">
          <div class="image">
            <img src="./static/images/shop/shop-items/3.jpg" alt="" />
          </div>
          <h4><a href="#">Snack Food</a></h4>
          <p class="text-secondary">10 Items</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section products best-products shop-products">
  <div class="container">
    <div class="text-center">
      <h5 class="sub-heading">~ Shop Products ~</h5>
      <h2 class="heading">Our Shop Products</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card shadow">
          <div class="img">
            <img src="./static/images/shop/shop-product/apples.jpg" alt="" />
          </div>
          <div class="text">
            <h5 class="mb-2 text-primary fw-bold">
              <i class="far fa-rupee-sign"></i> 500
            </h5>
            <!-- <h6>Fruit Drink</h6> -->
            <p class="text-secondary mb-2">
              Soda Sparkling Water Maker(Hot Water)
            </p>
            <div class="mb-2 w-100 d-flex">
              <div class="d-flex" id="theStars">
                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
            <a href="#" class="button text-center">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card shadow">
          <div class="img">
            <img src="./static/images/shop/shop-product/oranges.jpg" alt="" />
          </div>
          <div class="text">
            <h5 class="mb-2 text-primary fw-bold">
              <i class="far fa-rupee-sign"></i> 500
            </h5>
            <!-- <h6>Fruit Drink</h6> -->
            <p class="text-secondary mb-2">
              Soda Sparkling Water Maker(Hot Water)
            </p>
            <div class="mb-2 w-100 d-flex">
              <div class="d-flex" id="theStars">
                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
            <a href="#" class="button text-center">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card shadow">
          <div class="img">
            <img src="./static/images/shop/shop-product/peas.jpg" alt="" />
          </div>
          <div class="text">
            <h5 class="mb-2 text-primary fw-bold">
              <i class="far fa-rupee-sign"></i> 500
            </h5>
            <!-- <h6>Fruit Drink</h6> -->
            <p class="text-secondary mb-2">
              Soda Sparkling Water Maker(Hot Water)
            </p>
            <div class="mb-2 w-100 d-flex">
              <div class="d-flex" id="theStars">
                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
            <a href="#" class="button text-center">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card shadow">
          <div class="img">
            <img src="./static/images/shop/shop-product/juice.jpg" alt="" />
          </div>
          <div class="text">
            <h5 class="mb-2 text-primary fw-bold">
              <i class="far fa-rupee-sign"></i> 500
            </h5>
            <!-- <h6>Fruit Drink</h6> -->
            <p class="text-secondary mb-2">
              Soda Sparkling Water Maker(Hot Water)
            </p>
            <div class="mb-2 w-100 d-flex">
              <div class="d-flex" id="theStars">
                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
            <a href="#" class="button text-center">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card shadow">
          <div class="img">
            <img src="./static/images/shop/shop-product/onion.jpg" alt="" />
          </div>
          <div class="text">
            <h5 class="mb-2 text-primary fw-bold">
              <i class="far fa-rupee-sign"></i> 500
            </h5>
            <!-- <h6>Fruit Drink</h6> -->
            <p class="text-secondary mb-2">
              Soda Sparkling Water Maker(Hot Water)
            </p>
            <div class="mb-2 w-100 d-flex">
              <div class="d-flex" id="theStars">
                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
            <a href="#" class="button text-center">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card shadow">
          <div class="img">
            <img
              src="./static/images/shop/shop-product/pomegranate.png"
              alt=""
            />
          </div>
          <div class="text">
            <h5 class="mb-2 text-primary fw-bold">
              <i class="far fa-rupee-sign"></i> 500
            </h5>
            <p class="text-secondary mb-2">
              Soda Sparkling Water Maker(Hot Water)
            </p>
            <div class="mb-2 w-100 d-flex">
              <div class="d-flex" id="theStars">
                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>

                <div class="star">
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
            <a href="#" class="button text-center">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
