{% load static %}

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

<!-- AOS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- Zoom Image -->
<script src="{% static 'js/js-image-zoom.js' %}"></script>

<!-- Splide Js -->
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>

<!-- Owl Carousel -->
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>